
<!-- <div class="container"> 
  <form>
    <div class="form-header">
      <h1 class="form-title">formulário de cadastro</h1>
    </div>

    <div class="form-content">
      <app-input-name></app-input-name>
      <app-input-telefone></app-input-telefone>
      <app-input-email></app-input-email>
      <app-input-senha></app-input-senha>
      <app-botao></app-botao>  
    </div>
  </form>
</div>

<app-ng-style></app-ng-style>

<app-ng-class></app-ng-class>

<app-ng-if></app-ng-if>

<app-ng-switch></app-ng-switch>

<app-ng-for></app-ng-for>

<app-ng-template></app-ng-template>
<app-ng-container></app-ng-container>-->
<app-ng-content>
  <p>Nome: Roberto</p>
  <p>Idade: 53</p>
  <p>Outro: titulo</p>
</app-ng-content>