
<label>
  mostrar botao 01
  <input type="radio" name="btn" value='1' (change)="changeBtnNumberValue($event)">
</label>

<label>
  mostrar botao 02
  <input type="radio" name="btn" value='2' (change)="changeBtnNumberValue($event)">
</label>

<label>
  mostrar botao 03
  <input type="radio" name="btn" value='3' (change)="changeBtnNumberValue($event)">
</label>
<label>
  mostrar botao 04
  <input type="radio" name="btn" value='3' (change)="changeBtnNumberValue($event)">
</label>

<div [ngSwitch]='btnNumber'>
  <button *ngSwitchCase='1'>btn 01</button>
  <button *ngSwitchCase='2'>btn 02</button>
  <button *ngSwitchCase='3'>btn 03</button> 
  <button *ngSwitchCaseDefaut='4'>btn 04</button> 
</div>
